html, body {
  width: 350px;
}

.button {
  margin: 3% auto;
  padding: 5px;
  text-align: center;
  /* font-size: 1.5em; */
  cursor: pointer;
}

#login-status {
  background-color: #d5dd8d;
  display: table;
  width: 100%;
}

.account {
  display: table-cell;
  text-align: center;
  padding: 5px;
}

.hidden {
  display: none;
}

#logged-in-status {
  width: 20%;
}
#logged-in-user {
  width: 80%;
  text-align: left;
}
#logged-out-status {
  width: 100%;
}

.menuitem:hover {
  background-color: #677575;
}

.menuitem {
  background-color: #E5F2F2;
}

#summary-title {
  margin: 3% auto;
  padding: 5px;
  text-align: center;
  cursor: text;
}

#summary {
  height: 70px;
  margin: 3% auto;
  padding: 5px;
  text-align: left;
  overflow-y: scroll;
  word-wrap: normal;
  cursor: text;
}

#predicted-title {
  margin: 3% auto;
  padding: 5px;
  text-align: center;
  cursor: text;
}

#predicted {
  height: 70px;
  margin: 3% auto;
  padding: 5px;
  text-align: left;
  overflow-y: scroll;
  word-wrap: normal;
  cursor: text;
}

.result {
  margin: 3% auto;
  padding: 5px;
  background-color: #a6bcc5;
  display: flex;
  justify-content: left;
}

#custom-text {
  margin: 3% auto;
  padding: 5px;
  width: 100%
}

#custom-text-box-label {
  justify-content: center;
}

#custom-text-box {
  height: 70px;
  width: 100%;
  resize: vertical;
}

#analyze-results {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 500px;
}

#error-content {
  background-color: #d64b62;
}

#error-message {
  margin: 3% auto;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

#loading-status {
  height: 30px;
  width: 100%;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spin::before {
  animation: 1.0s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  margin-top: 10px;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
