html, body {
    width: 250px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 5px;
    text-align: center;
    /* font-size: 1.5em; */
    cursor: pointer;
  }
  
  .menuitem:hover {
    background-color: #677575;
  }
  
  .menuitem {
    background-color: #E5F2F2;
  }

  .result {
      margin: 3% auto;
      padding: 5px;
      background-color: #a6bcc5;
      display: flex;
      justify-content: left;
  }